.food-display{
    margin-top: 30px;
    
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 30px;
    gap:30px;
    row-gap: 50px;
}
.food-item{
    width:100%;
    margin:auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition:0.3s;
    animation:fadeIn 0.5s ease-in-out;
    cursor: pointer;
}
.food-item-image{
    width:100%;
    height:200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.food-item-info{
    padding:15px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: max(1.2vw,16px);
    font-weight: 600;
    margin:0;

}
.food-item-name-rating img{
    width: 70px;;
}
.food-item-description{
    font-size: max(1vw,14px);
    color: #555;
    margin:0;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.food-item-price{
    font-size: max(1.2vw,16px);
    font-weight: 700;
    margin:0;
    color:tomato
}
.food-item-image-container{
    width:100%;
    height:200px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.food-item-image-container .add{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px #00000030;
    transition: 0.3s;

}
  