.order.add {
    flex-direction: column;
}

.order-list {
    margin-top: 30px;
}

.order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid #ade8f4;
    padding: 20px;
    margin: 20px 0px;
    font-size: 14px;
    color: #505050;
    border-radius: 4px;
}

.order-item-food, 
.order-item-name {
    font-weight: 600;
}

.order-item-name {
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address {
    margin-bottom: 10px;
}

.order-item-phone {
    font-weight: 500;
}

.order-item select {
    background-color: #fff2ef;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

/* Responsive design for tablets and mobile */
@media (max-width: 900px) {
    .order-item {
        grid-template-columns: 0.5fr 2fr 1fr;
        font-size: 12px;
        gap: 20px;
        padding: 15px 10px;
    }
    
    .order-item select {
        padding: 5px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .order-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}