.footer{
    color:#d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;

}

.footer-content{
    width:100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;

}
.footer-content-left,.footer-content-right,.footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}
.footer-content-left li,.footer-content-right li,.footer-content-center li {
   list-style: none;
   margin-bottom: 10px;
   cursor: pointer;
}
.footer-content-right h2,.footer-content-center h2{
    color: white;
}
.footer-social-icons img{
    width: 40px;
    margin-right:15px;

}
.footer hr{
    width: 100%;
    border: 0.5px solid #d9d9d9;
}
/* Tablet view */
@media (max-width: 900px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .footer-content-left {
    grid-column: span 2;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  .footer {
    padding: 20px;
    padding-top: 60px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    align-items: center;
  }

  .footer-social-icons img {
    margin-right: 10px;
  }
}
.footer p{
    font-size: max(1vw,12px);
    color: #b3b3b3;
    margin-bottom: 10px;
}