.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(16px, 2vw);
    text-align: center;
    font-weight: 500;
}
.app-download-platforms{
    display: flex;
    justify-content: center;
    gap:max(20px, 2vw);
    margin-top: 30px;
}
.app-download-platforms img{
    width: max(120px, 10vw);
    cursor: pointer;
    transition: 0.5s;
}
.app-download-platforms img:hover{
   transform: scale(1.05);
}