.header{
    height:34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center;
    background-size:contain;
    position:relative;
}
.header-contents{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5vw;
    max-width: 50%;
    bottom:10%;
    left:6vw;
    animation: fadeIn 2s;

}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);

}
.header-contents p{
    color: white;
    font-size: 1vw;

}
.header-contents button{
    border:none;
    color:#747474;
    direction:flex;
    font-weight: 500;
    padding: 1vw 2.3vw;
    font-size: 1vw;
    background-color: white;
    border-radius: 50px;
    cursor:pointer;
   
}
@media (max-width: 1050px) {
    .header{
        height: 38vw;

    }
    .header-contents{
        max-width: 70%;
        gap: 1vw;
        bottom: 12%;
        left: 4vw;
    }
}
@media (max-width: 750px) {

    .header-contents{
        max-width: 90%;
        gap: 0.8vw;
        bottom: 15%;
        left: 3vw;
    }
    .header-contents p{
        display: none;
        font-size: 3.5vw;

    }
    .header-contents button{
        padding: 3vw 5vw;
        font-size: 3vw;

    }
}